@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');

div{
    /*border-style: solid;
    border-color:black;*/
    padding: 1vh 1vh 1vw 1vw;
}

#whole{
    background-color: #67b93e;
    width: 96vw;
    height: 98vh;

}
#head{
    background-color: #DA2613;
    width: 94vw;
    height: 16vh;
    display: flex;
}

#logo{
    background-color: white;
    width: 20vw;
    height: 13vh;
}

#title-menu{
    width: 74vw;
    height: 13vh;
}

#title{
    font-family: 'Vibes', cursive;
    font-size:3vw;
    color: white;
    text-align: center;
    width: 72vw;
    height: 6vh;
}

#menu{
    width: 72vw;
    height: 2vh;
    display: flex;
}

#option{
    text-align:center;
    vertical-align:middle;
    background:white;
    color:black;
    width: 5vw;
}

#body{
    background-color: white;
    width: 94vw;
    height: 67vh;
}
#foot{
    background-color: #FF786A;
    width: 94vw;
    height: 3vh;
}